  <div class="background"></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="signin-form">
          <h1>Apostles</h1>
          <form>
            <%= f.email_field :email, autofocus: true, class: "email" %>
            <%= f.password_field :password, autocomplete: "off", class: "password" %>

            <%= f.submit "Sign In", class: "btn btn-signin" %>
            
            <% if devise_mapping.rememberable? -%>
              <div id="remember" class="checkbox">
                <label>
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>
            <% end %>
            
          </form>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-password" %>
        </div>
  <% end -%>